@charset "utf-8";


/*PC・タブレット・スマホ(全端末)共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
	transition: 0.3s;	/*マウスオン時の移り変わるまでの時間設定。0.3秒。*/
}
a:hover {
	color: #80ad45;	/*マウスオン時の文字色*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*ブロックの最大幅*/
	margin: 0 auto;
	padding: 0 3%;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	text-align: center;	/*内容を中央よせ*/
}
/*ロゴ画像設定*/
#logo img {
	width: 400px;	/*画像幅*/
	margin: 40px auto 40px;	/*ロゴの上と下に40pxスペースを空ける設定*/

}

#logo a{
	color: #80ad45;
	text-decoration: none;
	font-size: 40px;
}

/*トップページのメイン画像
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg img {
	border-radius: 10px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
	margin-bottom: 40px;	/*下に空けるスペース*/
	width: 500px;
	height: 300px;
}



/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	text-align: center;		/*文字をセンタリング*/
	font-size: 18px;		/*文字サイズ*/
	margin-bottom: 40px;	/*下に空けるスペース*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline;	/*横並びにする設定*/
}
#menubar li a {
	text-decoration: none;
	padding: 15px 30px;	/*各メニュー内の余白。上下に15px、左右に30pxあけるという意味。*/
}
/*マウスオン時の設定*/
#menubar li a:hover {
	color: #80ad45;	/*文字色*/
	border-bottom: 4px solid #80ad45;	/*下線の幅、線種、色*/
}

/*コンテンツ（見出しバーや文字などが入っているブロック）
---------------------------------------------------------------------------*/
/*コンテンツのh2タグの設定*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff;		/*文字色*/
	padding: 10px 20px;	/*上下、左右への余白*/
	background: #80ad45;	/*背景色*/
	border-radius: 10px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 8px 20px;	/*上下、左右への余白*/
	background: #fff;	/*背景色*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	border-radius: 10px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
/*コンテンツのp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#contents p + p {
	margin-top: -5px;
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -10px;
}
#contents section + section {
	margin-top: 30px;
}

/*Galleryページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	overflow: hidden;
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding: 20px;	/*ボックス内の余白*/
}
/*h4見出しの設定*/
.list h4 {
	color: #80ad45;	/*文字色*/
}
/*画像の設定*/
.list img {
	width: 20%;			/*画像幅*/
	float: left;		/*画像を左に回り込み*/
	margin-right: 3%	/*画像の右側に空けるスペース*/
}
/*段落タグ*/
.list p {
	padding: 0 !important;
}

/*フッター(ページ最下部のcopyrightのパーツ)設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;	/*文字をセンタリング*/
	padding: 30px 0px 10px;	/*上、左右、下へのボックス内の余白*/
}
footer a {
	text-decoration: none;
	border: none;
}
footer .pr {
	display: block;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px;	/*上下、左右へのブロック内の余白*/
	margin-bottom: 20px;	/*ブロックの下(外側)に空ける余白*/
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	background: #eee;		/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #eee;	/*背景色*/
}
/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;			/*テーブル内の余白*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	text-align: center;	/*センタリング*/
	width: 30%;			/*幅*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #e5e5e5;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color: #80ad45;}
.pr {font-size: 12px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}



/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar li {
	display: block;	/*縦並びにする設定*/
	margin-bottom: 10px;
}
#menubar li a {
	text-decoration: none;
	padding: 8px 30px;	/*各メニュー内の余白。*/
}

/*Galleryページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	padding: 10px;	/*ボックス内の余白*/
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}

}

/*profile-ページ
---------------------------------------------------------------------------*/

.profile-name {
	font-size: 40px;
	text-align: center;
	
}

.video-container {
  position: relative;
}

.left-text,
.right-text {
  position: absolute;
  top: 0;
  font-size: 20px;
  /*color: white;*/
  /* 任意のスタイルを追加 */
}

.left-text {
  left: 25px;
}

.right-text {
  right: 0;
}

a {
  text-decoration: none;
}
/*ボタンのレイアウト*/
a.btn_10 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	background-image: linear-gradient(to right, #FF99FF 0%, #66FF33 100%);
	border-radius: 100vh;
	color: #fff;
	border: 2px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0.5s;
}
a.btn_10:hover {
	color: #fff;
	background-image: linear-gradient(to left, #FF99FF 0%, #66FF33 100%);
}

div .all-btn_10{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
a.btn_10:not(:last-child) {
    margin-right: 10px;
}


/* 矢印風----------------------------------------------*/
.more-btn {
	--more-btn-color:#666;/*矢印と文字の色*/
	text-align: center;/*ボタン中央寄せ*/
	margin-top: 50px;
}

.more-btn a {
	position: relative; /*位置（ここを基準に）*/
	padding: 0 3em 0 .5em; /*内側余白調整（上右下左）*/
	color: var(--more-btn-color);  /*リンク文字色*/
	text-decoration: none; /*リンク下線を消す*/
	outline: none; /*枠線を消す*/
}

.more-btn a::before,
.more-btn a::after{
	content: ''; /*矢印部分作成*/
	position: absolute; /*位置（ここを動かす）*/
	background: var(--more-btn-color); /*線の色*/
	height: 1px; /*線の太さ*/
	transition: all .3s; /*なめらかな動き*/
}

.more-btn a::before {
	bottom: -10px; /*下からの距離*/
	left: 0%; /*左からの距離*/
	width: 90%; /*ボタンの幅*/
}

.more-btn a::after {
	bottom: -5px; /*下からの距離*/
	right: 10%; /*右からの距離*/
	width: 15px; /*矢印部分の幅*/
	transform: rotate(35deg); /*角度調整*/
	color: #80ad45;
}

/*マウスオーバー時の動き*/
.more-btn a:hover::before{
	left: 10%;
}

.more-btn a:hover::after {
	right:0%;
}
.more-btn a:hover {
    color: #80ad45; /* マウスをホバーしたときの文字色 */
}


.tiktok-container {
    display: flex;
    justify-content: space-between; /* または、space-around など */
    gap: 20px; /* TikTok埋め込み間のスペース */
}

.tiktok-embed {
    flex: 1; /* もしくは適切な幅を設定 */
}

@keyframes fadeIn {
    from { opacity: 0; }    
    to { opacity: 1; }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
}

.popup-banner {
    position: relative;
}

.popup-close {
    position: absolute;
    top: -15px;
    right: -15px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
}
 .popup-banner img {
    width: 700px;
    height: 400px;
  }

/* popup表示時に付加されるclass */
.popup.open {
    display: flex;
    animation: fadeIn .7s;
}
#slide {
    position: fixed;
    width: 250px;
    height: 30px;
    bottom: 0;
    right: 0;
    color: #666;
    background: #fff;
    border-left: solid 1px #999;
    border-top: solid 1px #999;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
#slide-in {
    padding: 5px 10px;
}
#slide a {
    text-decoration: none;
    cursor: pointer;
}
#slide h3 {
    margin-bottom: 10px;
}
#slide #open-btn {
    position: absolute;
    font-size: 10px;	
	line-height: 1.5;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../images/close-btn.gif);
}
/* 1120px以下の場合 */
@media screen and (max-width: 1120px) {
  .video-container {
    margin-bottom: 20px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 要素を中央に配置 */
    text-align: center; /* テキストを中央揃え */
  }

  .left-text, .right-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: static; /* position: absolute; を打ち消す */
  }
}
@media (max-width: 580px) {
    .all-btn_10 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
 
    a.btn_10:not(:last-child) {
    margin-left:  auto;
    margin-right:  auto;
}
   .all-btn_10 a {
    margin-bottom: 10px; /* お好みの余白サイズに合わせて調整してください */
}
}
/* 580px以下の場合にブロック要素を縦並びにする */
@media (max-width: 580px) {
  .tiktok-container blockquote {
    display: block;
    width: 100%;
    margin-bottom: 15px; /* 見やすさのために適切な余白を指定 */
  }
  .tiktok-container {
    display: block;
    width: 100%;
    margin-bottom: 15px; /* 見やすさのために適切な余白を指定 */
  }
}
@media (max-width: 580px) {
  footer {
    padding-bottom: 40px; /* 余白のサイズを適宜調整してください */
  }
}
@media screen and (max-width: 580px) {
  .popup-banner img {
    width: 350px;
    height: 200px;
  }
}
#slide-contents img {
	width: 500px;
    height: 300px;
}
@media screen and (max-width: 580px) {
  #slide-contents img {
    width: 350px;
    height: 190px;
  }
}
 
 table.schedule {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px auto 10px;
    table-layout: fixed;
    border: 1px solid #666;
    background-color: #000;
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-weight: 400;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.schedule thead th:nth-child(1) {
    vertical-align: middle;
    width: 50px;
    color: #fff;
    font-size: 1em;
}
.schedule thead th {
    color: #fff;
    padding: 4px 2px 4px;
    background: #444;
    font-weight: 400;
    font-size: 65%;
}
.schedule th {
}
.schedule th, .schedule td {
    border: 1px solid #666;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: bottom;
    font-size: 100%;
}
.schedule .day {
    background: #000;
    display: block;
    margin: 4px 0 0;
    color: #eee;
    font-size: 1.2em;
}
.schedule .day_saturday {
    color: #6a8ffa;
}
.schedule .day_holiday {
    color: #c00;
}
.schedule tbody th {
    height: 3em;
    vertical-align: middle;
    padding: 0;
    font-weight: 400;
    color: #fff;
    font-size: 0.9em;
}
.schedule tbody td {
    vertical-align: middle;
    color: #ffff66;
}
.schedule .kyuen {
    border-bottom: 1px solid #000;
    color: #999;
    font-size: 80%;
}
.locate {
    font-size: 125%;
    font-weight: 800;
    line-height: 1;
    padding: 10px 0 8px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #000;
    border-top: 3px double #000;
    border-bottom: 3px double #000;
     text-align: center;
}
.venue {
    font-size: 125%;
    text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.section-heading {
  color: #333;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.empty-cell,
th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}



.event-name {
  font-weight: bold;
}



